<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      IMGSELECT
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="!loggedIn">
    <ion-item class="login-input">
      <ion-input type="text" label="Username:" [(ngModel)]="username"></ion-input>
    </ion-item>
    <ion-item class="login-input">
      <ion-input type="password" label="Password:" [(ngModel)]="password"></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="login()" class="login-button ion-margin">Log In</ion-button>
  </div>
  <ng-container *ngIf="loggedIn">
    <ion-list class="scroll-spacer">
      <ion-item routerLink="./lj">
        <ion-label>LJ</ion-label>
      </ion-item>
      <ion-item *ngFor="let girl of girlsList" (click)="viewGirl(girl)">
        <ion-label>{{girl | uppercase}}</ion-label>
      </ion-item>
    </ion-list>
  </ng-container>
</ion-content>
